body{
    background:rgb(247, 140, 88)
}
#text{
    color:rgb(247, 140, 88);
    white-space: pre;
    position:fixed;
    top:50%;
    left:50%;
    font: bold 13.5px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-transform: translate(-220px, -238px);
    -ms-transform: translate(-220px, -238px);
    transform: translate(-220px, -238px);
    text-shadow:-1.5px 262.0px 0 #000,144.5px 226.5px 0 #000,146.0px 180.5px 0 #000,0.0px 48.0px 0 #000,284.0px 217.0px 0 #000,1.5px 119.0px 0 #000,268.5px 368.0px 0 #000,284.0px 298.5px 0 #000,145.5px 82.5px 0 #000,144.5px 275.0px 0 #000,283.0px 138.5px 0 #000,1.5px 201.0px 0 #000,-1.5px 278.0px 0 #000,145.5px 131.5px 0 #000,-1.5px 359.5px 0 #000,150.5px 327.5px 0 #000,0.0px 64.5px 0 #000,282.5px 57.0px 0 #000,284.0px 233.0px 0 #000,0.0px 129.5px 0 #000,268.5px 384.0px 0 #000,144.5px 177.5px 0 #000,150.5px 376.5px 0 #000,268.5px 319.0px 0 #000,1.5px 217.0px 0 #000,268.5px 400.5px 0 #000,-1.5px 294.0px 0 #000,268.5px 302.5px 0 #000,144.5px 259.0px 0 #000,144.5px 210.5px 0 #000,283.0px 154.5px 0 #000,0.0px 81.0px 0 #000,282.5px 73.5px 0 #000,150.5px 425.5px 0 #000,1.5px 135.5px 0 #000,145.5px 115.0px 0 #000,145.5px 66.5px 0 #000,282.5px 89.5px 0 #000,283.5px 249.5px 0 #000,283.0px 171.0px 0 #000,-1.5px 310.5px 0 #000,145.5px 163.5px 0 #000,150.5px 360.0px 0 #000,150.5px 311.0px 0 #000,0.0px 97.0px 0 #000,1.5px 151.5px 0 #000,268.5px 335.5px 0 #000,1.5px 233.0px 0 #000,268.5px 417.0px 0 #000,144.5px 194.0px 0 #000,150.5px 409.0px 0 #000,283.0px 106.0px 0 #000,0.0px 15.5px 0 #000,284.0px 265.5px 0 #000,-1.5px 327.0px 0 #000,144.5px 242.5px 0 #000,0.0px 113.5px 0 #000,283.5px 282.0px 0 #000,1.5px 168.0px 0 #000,284.0px 184.5px 0 #000,268.5px 351.5px 0 #000,-1.5px 245.5px 0 #000,145.5px 99.0px 0 #000,144.5px 291.5px 0 #000,0.0px 32.0px 0 #000,-1.5px 343.5px 0 #000,150.5px 392.5px 0 #000,150.5px 344.0px 0 #000,283.0px 122.0px 0 #000,145.5px 147.5px 0 #000,1.5px 184.5px 0 #000,284.0px 200.5px 0 #000
}
#text:hover{color:rgb(200,100,40)}
#text:focus {color:rgb(200,100,40); outline: none;}
#text:after{
    display:block;
    content:'';
    position:relative;
    height:82.0px; 
    width:118.0px;
    background-size:contain;
    background-image:url('ye.png');
    top:362.0px;
    left:25.0px;
}